{{!-- ******** NO FUNCIONA porque no tengo la ruta bien para esto ********* --}}


<h2>Edit movie</h2>

<form action="/movies/{{movieToEdit._id}}/edit" method="post">
    <label> Title:
    <input type="text" name="title" value="{{ movieToEdit.title }}" />
  </label>
  <label> Genre:
    <input type="text" name="genre" value="{{ movieToEdit.genre }}" />
  </label>
  <label> Plot:
    <input type="text" name="plot" value="{{ movieToEdit.plot }}" />
  </label>

<label for="cast"> Cast: </label>
 <select name="cast" id="cast" multiple>
        {{#each celebrities}} 
            <option value="{{ this._id }}">{{ this.name }}</option>
        {{/each}}
   </select>


  <button type="submit"> Update </button>
</form>