<h2>Movie's detail page</h2>
<p><strong>Title: </strong>{{movieDetail.title}}</p>
<p><strong>Genre: </strong>{{movieDetail.genre}}</p>
<p><strong>Plot: </strong>{{movieDetail.plot}}</p>
<p><strong>Cast: </strong></p>

{{#each movieDetail.cast}}
  <ul>
    <li>name: {{this.name}}</li>
    <li>occupation: {{this.occupation}}</li>
    <li>catch phrase: {{this.catchPhrase}}</li>
  </ul>
{{/each}}

<form action="/movies/{{movieDetail._id}}/delete" method="post">
  <button>Delete movie</button>
</form>

<button><a href="/movies/{{movieDetail._id}}/edit">Edit movie</a></button>